
//    Font Family

$primary-font	: 'Poppins', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #0086A5;
$secondary-color: #1271a4;
$title-color	: #222222;
$text-color		: #585858;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #222;






